{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
{% endblock %}
{% block body %}
    <div class="form">
        <form class="needs-validation" novalidate>
            <div class="head">
                <h1>Crear Usuario</h1>
            </div>
            <div class="form-row">
                <div class="col-md-6 lg-6 sm-12">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
                    <div class="invalid-feedback">
                        Por favor, selecciona un nombre
                    </div>
                    <div class="valid-feedback">
                        Campo correcto
                    </div>
                </div>
                <div class="col-md-6 lg-6 sm-12">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" required>
                    <div class="invalid-feedback">
                        Por favor, selecciona un apellido
                    </div>
                    <div class="valid-feedback">
                        Campo correcto
                    </div>
                </div>
                <div class="col-md-6 lg-6 sm-12">
                    <label for="validationCustomUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, selecciona un nombre de usuario valida
                        </div>
                        <div class="valid-feedback">
                            Campo correcto
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 lg-6 sm-12">
                    <label for="validationCustom03">City</label>
                    <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                    <div class="invalid-feedback">
                        Por favor, selecciona una ciudad valida
                    </div>
                    <div class="valid-feedback">
                        Campo correcto
                    </div>
                </div>
                <div class="col-md-3 lg-6 sm-12">
                    <label for="validationCustom04">Comunidad</label>
                    <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
                    <div class="invalid-feedback">
                        Por favor, selecciona una comunidad valida
                    </div>
                    <div class="valid-feedback">
                        Campo correcto
                    </div>
                </div>
                <div class="col-md-3 lg-6 sm-12">
                    <label for="validationCustom05">Código postal</label>
                    <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
                    <div class="invalid-feedback">
                        Por favor, selecciona un codigo postal
                    </div>
                    <div class="valid-feedback">
                        Campo correcto
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Acepta términos y condiciones de uso
                    </label>

                    <div class="invalid-feedback">
                        Tienes que aceptar términos y condiciones de uso antes
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
    <script src="{{ asset('js/form.js') }}"></script>
{% endblock %}